@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

:root {
  font-family: "JetBrains Mono", monospace;
  color: #cdd6f4;
  background: #11111b;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  min-width: 320px;
  min-height: 100%;
  background: #11111b;
}

button,
input {
  font-family: inherit;
}
